{% extends "@SdzBlog/layout.html.twig" %}

{% block title %}
    Ajouter un article {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
    <h2>Ajouter un article</h2>
    {% include '@SdzBlog/Blog/formulaire.html.twig' %}
    <p>
        Attention cet article sera ajouter diretement sur la page d'accueil après validation du formulaire !
    </p>
{% endblock %}
